<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deserunt dicta labore, ea assumenda aspernatur mollitia reprehenderit. Voluptate voluptatum quisquam modi inventore obcaecati nemo? Cum culpa assumenda fugit exercitationem qui!</p>
    </div>
</section>