<div class="jumbotron mt-4">

    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt rem adipisci, quasi quod at blanditiis illo
        tempore assumenda inventore suscipit doloribus ullam ut et dolore repellendus sequi dicta numquam ipsum.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus ullam nihil dignissimos, eos, ipsa nobis asperiores adipisci neque ipsam dolorem aperiam explicabo vero velit quas iusto autem nam! Reiciendis, perspiciatis?</p>
    <a href="https://github.com/CarlosGallardoA" class="btn btn-primary">Github</a>
</div>